* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #1e293b;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 80px 50px;
  text-align: center;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #1e293b;
  border-radius: 20px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 10px;
}
